Policy Pulse.json
{
  "name": "Policy Pulse",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Compare these two policies and list the changes.\n\nPolicy V1:\n{{$json.previousPolicy}}\n\nPolicy V2:\n{{$json.newPolicy}}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert HR policy comparison agent.\n\nYour job is to:\n1. detect meaningful employee-impacting changes between two versions of a policy\n2. identify impacted employees\n3. generate one employee-specific draft email per impacted employee\n\nReturn STRICT JSON only.\n\n--------------------------------------------------\nMEANINGFUL CHANGE RULES\n--------------------------------------------------\n\nA meaningful change includes:\n- numeric value changes (days, limits, percentages)\n- eligibility changes\n- new conditions or restrictions\n- removed rules\n- benefit increases or reductions\n- approval requirement changes\n- waiting period changes\n- policy scope expansions or reductions\n\nIgnore:\n- formatting differences\n- sentence restructuring\n- wording changes that do not alter meaning\n\nChanges should have specific context such as:\n- PTO accrual\n- carryover\n- notice period\n- eligibility\n- accrual timing\n\n--------------------------------------------------\nSTEP 1 — EXTRACT POLICY RULES\n--------------------------------------------------\n\nFrom each policy, extract all employee-facing rules.\n\nExamples:\n- PTO accrual rate\n- carryover limits\n- eligibility requirements\n- waiting periods\n- approval requirements\n- maximum limits\n- benefits provided\n\nRepresent each rule clearly.\n\n--------------------------------------------------\nSTEP 2 — COMPARE POLICY RULES\n--------------------------------------------------\n\nCompare Policy Version 1 and Policy Version 2.\n\nDetect only meaningful employee-impacting changes.\n\nIMPORTANT — CHANGES OUTPUT RULES\n\n- Return EACH detected change as a separate item in the \"changes\" array\n- Do NOT combine multiple changes into one sentence\n- Each change must be:\n  - clear\n  - specific\n  - standalone\n  - human-readable\n- Include context such as PTO accrual, carryover, or notice period\n- Prefer format:\n  \"<what changed> from <old value> to <new value>\"\n\nThe \"changes\" field MUST be a valid JSON array of strings.\n\nDo NOT:\n- return a comma-separated string\n- return a paragraph\n- concatenate multiple changes into one string\n\n--------------------------------------------------\nSTEP 3 — IDENTIFY IMPACTED EMPLOYEES\n--------------------------------------------------\n\nYou MUST identify employees impacted by the detected policy changes.\n\nTo do this, you MUST use the available tools to fetch employee data.\n\nAvailable tables:\n\nemployee_details\n- employee_id\n- full_name\n- email\n- department\n- role\n- location\n- tenure_year\n- tenure_month\n\nemployee_benefits\n- employee_id\n- medical_plan\n- dental_plan\n- vision_plan\n- plan_type\n- enrollment_status\n- enrollment_date\n\nemployee_leave\n- employee_id\n- leave_allocated\n- leave_taken\n\nIMPORTANT:\n- You MUST call the tools to fetch employee data\n- Do NOT assume employee data without calling tools\n- Use tenure_year as the PRIMARY field for tenure-based decisions\n- Use tenure_month only as supporting information if needed\n- Use location as PRIMARY filed for location-based decisions\n- Use department as PRIMARY filed for department-based decisions\n- Use role as PRIMARY filed for role-based decisions\n- Do NOT invent employees\n- Do NOT skip employee mapping\n- DO NOT HALLUCINATE \n\n--------------------------------------------------\nTENURE BRACKET RULES\n--------------------------------------------------\n\nUse tenure_year to determine the employee’s accrual bracket:\n\n- 0-2 years bracket -> employees with tenure_year = 0, 1, or 2\n- 3-5 years bracket -> employees with tenure_year = 3, 4, or 5\n- 6+ years bracket -> employees with tenure_year >= 6\n\nWhen mapping employees to changes:\n- assign only the matching tenure-based accrual change to the matching tenure bracket\n\n--------------------------------------------------\nGLOBAL CHANGE RULES\n--------------------------------------------------\n\nSome changes apply to ALL employees unless the policy explicitly restricts them.\n\nTreat these as global changes:\n- PTO accrual timing changes\n- PTO request notice period changes\n- PTO carryover limit changes\n\nIf a global change is detected, all employees are impacted by that change.\n\n--------------------------------------------------\nEMPLOYEE MAPPING RULES\n--------------------------------------------------\n\nFor EACH detected change:\n1. determine whether the change is tenure-based, department-based, location-based, role-based or global\n2. identify impacted employees\n3. assign only relevant changes to each employee\n\nFor each impacted employee, create a structured mapping.\n\nEach employee must include:\n- employee_name\n- impacted_changes\n\nEach impacted change must include:\n- change_type\n- description\n\nIMPORTANT:\n- Not all employees are impacted by all changes\n- Each employee must only include relevant changes\n- If a global change exists, impacted employees should include all employees\n- If tenure-based changes exist, impacted employees should include only employees in the matching bracket\n- If department-based changes exist, impacted employees should include only employees in that department\n- If location-based changes exist, impacted employees should include only employees in that location\n- If role-based changes exist, impacted employees should include only employees in that role\n- If changes exist, returning an empty employees array is invalid unless truly no employees match\n\n--------------------------------------------------\nSTEP 4 — GENERATE EMPLOYEE-SPECIFIC EMAILS\n--------------------------------------------------\n\nFor EACH impacted employee:\n\n- Generate EXACTLY one email per employee\n- Include ALL changes that impact that employee only\n- Do NOT include changes that do not apply\n\nRules:\n- Total emails MUST equal the number of impacted employees\n- Each email must be personalized using employee name\n- Each email must summarize all relevant changes\n- Use a professional HR tone\n\nCRITICAL:\n- Do NOT generate a single generic email\n- Do NOT combine all employees into one email\n- If impacted employees exist, notifications must not be empty\n\n--------------------------------------------------\nSTEP 5 — RETURN JSON OUTPUT\n--------------------------------------------------\n\nReturn STRICT JSON only.\nDo not include explanations outside the JSON.\n\nUse this exact structure:\n\n{\n  \"changes\": [\n    \"string describing each detected policy change\"\n  ],\n  \"employees\": [\n    {\n      \"id\": \"string unique employee ID\",\n      \"name\": \"string full name\",\n      \"email\": \"string email address\",\n      \"department\": \"string department name\",\n      \"location\": \"string office/location\",\n      \"tenure_year\": 0,\n      \"tenure_month\": 0\n    }\n  ],\n  \"notifications\": [\n    {\n      \"id\": \"string unique notification ID\",\n      \"employeeId\": \"string corresponding employee ID\",\n      \"employeeName\": \"string employee full name\",\n      \"message\": \"string personalized message/email content\",\n      \"status\": \"draft\"\n    }\n  ]\n}\n\nIf no meaningful changes are detected, return:\n\n{\n  \"changes\": [],\n  \"employees\": [],\n  \"notifications\": []\n}\n\n--------------------------------------------------\nPOLICY INPUT\n--------------------------------------------------\n\nPolicy Version 1:\n{{$json.previousPolicy}}\n\nPolicy Version 2:\n{{$json.newPolicy}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        -272
      ],
      "id": "55996ca4-c1e7-4017-9ea8-fcb29213cb56",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        320,
        96
      ],
      "id": "75251b6e-8ed8-4dba-a4bb-6566c4c513f5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "M2qE8112N0PdmFh8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bacd7aa3-ca96-4612-ab9d-f59f907d7d1c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -48
      ],
      "id": "116c2afa-de6c-47f4-bf8b-f995c1a7a834",
      "name": "Webhook",
      "webhookId": "bacd7aa3-ca96-4612-ab9d-f59f907d7d1c",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get many rows in Supabase",
        "operation": "getAll",
        "tableId": "employee_leave",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1072,
        336
      ],
      "id": "f1c8926c-f44c-4939-8001-dc9353c052b2",
      "name": "Employee_Leave",
      "credentials": {
        "supabaseApi": {
          "id": "llLJe8UGxtLpsdLr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get many rows in Supabase",
        "operation": "getAll",
        "tableId": "employee_benefits",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        864,
        352
      ],
      "id": "160a7502-1bbf-451b-a6ad-3c2a23d3df39",
      "name": "Employee_benefits",
      "credentials": {
        "supabaseApi": {
          "id": "llLJe8UGxtLpsdLr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"changes\": [\n    \"string describing each detected policy change\"\n  ],\n  \"employees\": [\n    {\n      \"id\": \"string unique employee ID\",\n      \"name\": \"string full name\",\n      \"email\": \"string email address\",\n      \"department\": \"string department name\",\n      \"location\": \"string office/location\",\n      \"tenure_years\": 0,\n      \"tenure_months\": 0\n    }\n  ],\n  \"notifications\": [\n    {\n      \"id\": \"string unique notification ID\",\n      \"employeeId\": \"string corresponding employee ID\",\n      \"employeeName\": \"string employee full name\",\n      \"message\": \"string personalized message/email content\",\n      \"status\": \"draft\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        704,
        -80
      ],
      "id": "6dc742ec-a4c8-4243-a47a-3b9bb170c98c",
      "name": "Structured Output Parser1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "previousPolicy",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -176,
        -272
      ],
      "id": "bac70a95-3a3d-4b85-8145-e79fa75fc9d1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "newPolicy",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        96
      ],
      "id": "dadb3c09-bafd-4cb4-844f-b65ad3a31c36",
      "name": "Extract from File1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        -64
      ],
      "id": "0821ac06-e04b-4645-a269-b92d9308ea6c",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Clean function\nconst clean = (text) => {\n  return text\n    .replace(/•/g, \"\")\n    .replace(/\\r?\\n|\\r/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n};\n\n// Map both documents\nconst previousPolicy = clean(items[0].json.text);\nconst newPolicy = clean(items[1].json.text);\n\n// Return SINGLE item\nreturn [\n  {\n    json: {\n      previousPolicy,\n      newPolicy\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -176
      ],
      "id": "9969b7ee-1d3b-4a6e-ab62-c047a2f02cfd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        912,
        -16
      ],
      "id": "aac39bb9-4498-4b05-9a9b-97872328f231",
      "name": "Respond to Webhook",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -272
      ],
      "id": "84f530e4-bc03-408b-bf7d-86bcf8568236",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "employee_details",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        480,
        -32
      ],
      "id": "92c0be77-1f89-4a90-9c01-1399c0c05cca",
      "name": "Employee_Details",
      "credentials": {
        "supabaseApi": {
          "id": "llLJe8UGxtLpsdLr",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Employee_Leave": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Employee_benefits": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Employee_Details": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d920dd3d-3f01-4c2c-88c9-06c579ccb58f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21c6c121864167de4c5b549bf8ebf9653b46ca9b432c2a79c7912f2bd565547d"
  },
  "nodeGroups": [],
  "id": "eQFWf3SiuRLwyOSg",
  "tags": []
}